.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  border: none;
}
