.element__like-count {
  font-weight: normal;
  font-size: 13px;
  line-height: 1.23;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  margin-top: 3px;
}
